<mat-card>
  <mat-toolbar color="primary">
    Cursos Disponibles
  </mat-toolbar>

  <div class="column flex mat-elevation-z8">

    <!--Pasamos los cursos a la lista-->
    <app-cursos-lista
      *ngIf="dsCursos$ | async as cursos; else cargando"
      [listCursos]="cursos"
      (nuevo)="onNuevo()"
      (editar)="onEditar($event)"
      (eliminar)="onEliminar($event)">
    </app-cursos-lista>

    <ng-template #cargando>
      <div class="style-cargando-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

  </div>
</mat-card>
